# General
.DS_Store
.AppleDouble
.LSOverride

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
.env
.venv

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Node.js / Next.js
node_modules/
npm-debug.log
yarn-error.log
.next/
out/
.vercel
dist/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker
.dockerignore
